body,
html {
  margin: 0;
  padding: 0;
}
html {
  background: #cfd9df;
}
.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2rem;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.previews-wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.preview-container {
  border: 5px solid transparent;
  border-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  border-image-slice: 1;
}
.preview-image {
  height: 100px;
}
.preview-image:hover {
  cursor: pointer;
}

.canvass-container {
  grid-area: canvas;
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  min-width: 400px;
  min-height: 400px;
  justify-self: center;
}
.canvass-container > div {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.15) 0px 8px 16px;
}
.overlay-image,
.artwork-image {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
}
.main-container {
  padding: 1rem 1rem 0 1rem;
  display: grid;
  grid-template-columns: 170px 400px 20px;
  grid-template-row: 400px 1fr;
  grid-template-areas:
    "picker canvas tools"
    "btn btn btn";
  grid-gap: 1rem;
  justify-content: center;
}
.left-container > div {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.15) 0px 8px 16px;
}

.css-1munbi2 {
  height: 100px;
}
.sketch-picker {
  grid-area: picker;
}
.slider-container {
  padding: 6px;
  border-radius: 1rem;
  background-color: #fff;
  width: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  max-height: 150px;
}
.icon-container {
  padding: 6px;
}
.artwork-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  justify-self: center;
}
h3 {
  margin-left: 1rem;
  text-align: left;
}
.artworks-wrapper {
  background: linear-gradient(
    -225deg,
    #ff3f1b 0%,
    #d89312 29%,
    #739d0c 67%,
    #049674 100%
  );
}
.artworks-container {
  position: relative;
  grid-gap: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
}
.tools-container {
  grid-area: tools;
}
.publish-btn {
  padding: 0.5rem;
  border: 1px solid 7279e1;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background: #ff3f1b;
  grid-area: btn;
}

@media only screen and (max-width: 700px) {
  .main-container {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 400px 200px 100px;
    grid-template-areas:
      "canvas canvas"
      "picker tools"
      "picker btn";
    margin-bottom: 1rem;
  }
  .tools-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: baseline;
  }
}
